.navbar-logo {
    height: 55px;
}

.header-logo {
    height: 20rem;
}

.staff-container, .supporter-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.supporter {
    margin: 1rem 3rem;
}

.staff, .supporter {
    display: flex;
    flex-direction: column;
}

.staff img.avatar {
    height: 5rem;
    width: auto;
    border-radius: 4px;
}

.supporter img.logo {
    height: 6rem;
    width: auto;
}


/* overrides */
.measure-wide {
    max-width: 60rem;
}